<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--欢迎页-->
    <welcome-file-list>
        <welcome-file>adminpage/index.jsp</welcome-file>
    </welcome-file-list>

    <!-- 配置 spring 的核心监听器-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>ldu.guofeng.news.utils.ApplicationListener</listener-class>
    </listener>
    <!-- 配置 struts 2 的核心过滤器 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
    session超时时间，默认30，改成1，便于调试
    1、登录拦截器
    2、统计访问人数
    -->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


</web-app>